.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.product-item {
    display: flex;
    align-items: center;
}

.product-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
}
.product-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
