/* body{
    background-color: #f3f1ee;
} */
input:hover{
border: 1px solid #c8b4a9;
}
input:focus {
    box-shadow: 0 0 10px #c8b4a9;
}
input:focus {
    border: 1px solid #c8b4a9;
}

input:focus + span {
    display: none;
}

input:focus + span::after {
    content: '✓';
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #c8b4a9;
}

input:focus:invalid {
    border: 2px solid red;
}

input:focus:invalid + span::after {
    content: '✕';
    color: red;
}
button{
background: #c8b4a9;
border:1px solid #c8b4a9;
}
button:hover{
    background-color:white;
    color: #c8b4a9;
    border:2px #c8b4a9 solid;
}
button:focus {
    box-shadow: 0 0 10px #c8b4a9;
    /* border: 3px solid white; */
}
button:focus + span::after {
    content: '✓';
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    border:1px solid  #c8b4a9;
}
body{
    margin-left: auto;
    margin-right: auto;
}
